In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
# Load your data
df = pd.read_csv("C:\\Users\\HomePC\\Desktop\\PROJECT 2\\car_full_datasets.csv")

In [3]:
df.head()

,car_full_data,brand,model,year,fuel_type,transmission,color,owner_type,mileage_kmpl,price_dollars,...,policy_number,expiry_date,status,sale_price_dollars,sale_date,buyer_name,service_type,service_date,service_cost,service_center
0,C1000,Tata,Nexon,2013,Hybrid,Automatic,Blue,First,18.97,6.59,...,POL932442,6/1/2023,Active,31.80,5/27/2023,Buyer_0,Battery Replacement,5/13/2020,14660,AutoCare
1,C1001,Maruti,XUV500,2005,Diesel,Automatic,Green,First,19.51,33.01,...,POL707814,8/30/2023,Expired,2.51,11/13/2022,Buyer_1,Battery Replacement,6/8/2020,19421,Speed Garage
2,C1002,Honda,XUV500,2009,Electric,Manual,White,First,15.14,7.11,...,POL886942,12/25/2023,Active,24.53,11/9/2022,Buyer_2,Oil Change,10/17/2023,5879,Pitstop
3,C1003,Maruti,City,2010,Hybrid,Automatic,White,Fourth,18.51,28.47,...,POL209668,8/21/2023,Expired,39.85,8/5/2023,Buyer_3,Full Service,9/1/2020,16251,Mechanix
4,C1004,Tata,Nexon,2018,Petrol,Automatic,Grey,First,10.79,10.16,...,POL198614,7/15/2023,Expired,32.99,7/26/2022,Buyer_4,Brake Service,1/4/2020,8772,Speed Garage

In [4]:
# check for missing values
df.isna().any()

car_full_data         False
brand                 False
model                 False
year                  False
fuel_type             False
transmission          False
color                 False
owner_type            False
mileage_kmpl          False
price_dollars         False
owner_name            False
contact               False
city                  False
purchase_year         False
provider              False
policy_number         False
expiry_date           False
status                False
sale_price_dollars    False
sale_date             False
buyer_name            False
service_type          False
service_date          False
service_cost          False
service_center        False
dtype: bool

In [5]:
# fill the missing values
df.fillna(value={"brand":"Not Stated"}, inplace=True )
df

,car_full_data,brand,model,year,fuel_type,transmission,color,owner_type,mileage_kmpl,price_dollars,...,policy_number,expiry_date,status,sale_price_dollars,sale_date,buyer_name,service_type,service_date,service_cost,service_center
0,C1000,Tata,Nexon,2013,Hybrid,Automatic,Blue,First,18.97,6.59,...,POL932442,6/1/2023,Active,31.80,5/27/2023,Buyer_0,Battery Replacement,5/13/2020,14660,AutoCare
1,C1001,Maruti,XUV500,2005,Diesel,Automatic,Green,First,19.51,33.01,...,POL707814,8/30/2023,Expired,2.51,11/13/2022,Buyer_1,Battery Replacement,6/8/2020,19421,Speed Garage
2,C1002,Honda,XUV500,2009,Electric,Manual,White,First,15.14,7.11,...,POL886942,12/25/2023,Active,24.53,11/9/2022,Buyer_2,Oil Change,10/17/2023,5879,Pitstop
3,C1003,Maruti,City,2010,Hybrid,Automatic,White,Fourth,18.51,28.47,...,POL209668,8/21/2023,Expired,39.85,8/5/2023,Buyer_3,Full Service,9/1/2020,16251,Mechanix
4,C1004,Tata,Nexon,2018,Petrol,Automatic,Grey,First,10.79,10.16,...,POL198614,7/15/2023,Expired,32.99,7/26/2022,Buyer_4,Brake Service,1/4/2020,8772,Speed Garage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,C50995,Toyota,Nexon,2019,Hybrid,Manual,White,Second,11.56,48.22,...,POL399778,6/20/2023,Expired,25.72,2/18/2022,Buyer_49995,Brake Service,6/19/2023,4022,Pitstop
49996,C50996,Maruti,Seltos,2021,Petrol,Automatic,Black,First,10.41,19.05,...,POL701396,6/28/2023,Expired,40.73,2/19/2023,Buyer_49996,Full Service,11/4/2023,10715,Mechanix
49997,C50997,Kia,XUV500,2018,CNG,Manual,Green,Fourth,13.20,27.13,...,POL874877,6/24/2023,Active,48.43,10/16/2022,Buyer_49997,Full Service,11/3/2023,10881,CarZ
49998,C50998,Hyundai,Polo,2007,CNG,Manual,Green,Third,18.01,36.42,...,POL479019,1/9/2024,Expired,36.94,6/6/2022,Buyer_49998,Oil Change,5/8/2023,16327,Mechanix
49999,C50999,Hyundai,Creta,2006,Petrol,Automatic,Yellow,Third,18.83,9.04,...,POL878166,5/23/2023,Expired,15.27,12/24/2022,Buyer_49999,Engine Repair,12/10/2023,19248,Mechanix

In [6]:
# check for duplicated
df.duplicated().any()

False

In [7]:
# To know the general info of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   car_full_data       50000 non-null  object
 1   brand               50000 non-null  object
 2   model               50000 non-null  object
 3   year                50000 non-null  int64
 4   fuel_type           50000 non-null  object
 5   transmission        50000 non-null  object
 6   color               50000 non-null  object
 7   owner_type          50000 non-null  object
 8   mileage_kmpl        50000 non-null  float64
 9   price_dollars       50000 non-null  float64
 10  owner_name          50000 non-null  object
 11  contact             50000 non-null  object
 12  city                50000 non-null  object
 13  purchase_year       50000 non-null  int64
 14  provider            50000 non-null  object
 15  policy_number       50000 non-null  object
 16  expiry_date         50000 non-null  object
 17  status              50000 non-null  object
 18  sale_price_dollars  50000 non-null  float64
 19  sale_date           50000 non-null  object
 20  buyer_name          50000 non-null  object
 21  service_type        50000 non-null  object
 22  service_date        50000 non-null  object
 23  service_cost        50000 non-null  int64
 24  service_center      50000 non-null  object
dtypes: float64(3), int64(3), object(19)
memory usage: 9.5+ MB

In [8]:
# Create a new column: car_age
from datetime import datetime
df['car_age'] = datetime.now().year - df['year']

# Analysis

In [9]:
def compute_group_stats(df, group_col):
    try:
        total = (
            df.groupby(group_col)["price_dollars"]
            .sum()
            .sort_values(ascending=False)
        )
    except KeyError:
        print(f"Error: '{group_col}' does not exist in the DataFrame.")

In [10]:
df.head()

,car_full_data,brand,model,year,fuel_type,transmission,color,owner_type,mileage_kmpl,price_dollars,...,expiry_date,status,sale_price_dollars,sale_date,buyer_name,service_type,service_date,service_cost,service_center,car_age
0,C1000,Tata,Nexon,2013,Hybrid,Automatic,Blue,First,18.97,6.59,...,6/1/2023,Active,31.80,5/27/2023,Buyer_0,Battery Replacement,5/13/2020,14660,AutoCare,12
1,C1001,Maruti,XUV500,2005,Diesel,Automatic,Green,First,19.51,33.01,...,8/30/2023,Expired,2.51,11/13/2022,Buyer_1,Battery Replacement,6/8/2020,19421,Speed Garage,20
2,C1002,Honda,XUV500,2009,Electric,Manual,White,First,15.14,7.11,...,12/25/2023,Active,24.53,11/9/2022,Buyer_2,Oil Change,10/17/2023,5879,Pitstop,16
3,C1003,Maruti,City,2010,Hybrid,Automatic,White,Fourth,18.51,28.47,...,8/21/2023,Expired,39.85,8/5/2023,Buyer_3,Full Service,9/1/2020,16251,Mechanix,15
4,C1004,Tata,Nexon,2018,Petrol,Automatic,Grey,First,10.79,10.16,...,7/15/2023,Expired,32.99,7/26/2022,Buyer_4,Brake Service,1/4/2020,8772,Speed Garage,7

In [11]:
# Drop rows with missing key fields
features = ['brand', 'model', 'fuel_type', 'transmission', 'owner_type', 'mileage_kmpl', 'car_age']
target = 'sale_price_dollars'
df_model = df[features + [target]].dropna()

In [12]:
df.head()

,car_full_data,brand,model,year,fuel_type,transmission,color,owner_type,mileage_kmpl,price_dollars,...,expiry_date,status,sale_price_dollars,sale_date,buyer_name,service_type,service_date,service_cost,service_center,car_age
0,C1000,Tata,Nexon,2013,Hybrid,Automatic,Blue,First,18.97,6.59,...,6/1/2023,Active,31.80,5/27/2023,Buyer_0,Battery Replacement,5/13/2020,14660,AutoCare,12
1,C1001,Maruti,XUV500,2005,Diesel,Automatic,Green,First,19.51,33.01,...,8/30/2023,Expired,2.51,11/13/2022,Buyer_1,Battery Replacement,6/8/2020,19421,Speed Garage,20
2,C1002,Honda,XUV500,2009,Electric,Manual,White,First,15.14,7.11,...,12/25/2023,Active,24.53,11/9/2022,Buyer_2,Oil Change,10/17/2023,5879,Pitstop,16
3,C1003,Maruti,City,2010,Hybrid,Automatic,White,Fourth,18.51,28.47,...,8/21/2023,Expired,39.85,8/5/2023,Buyer_3,Full Service,9/1/2020,16251,Mechanix,15
4,C1004,Tata,Nexon,2018,Petrol,Automatic,Grey,First,10.79,10.16,...,7/15/2023,Expired,32.99,7/26/2022,Buyer_4,Brake Service,1/4/2020,8772,Speed Garage,7

In [13]:
df.shape

(50000, 26)

In [14]:
df.duplicated().sum()

0

In [15]:
# One-hot encode categorical features
categorical = ['brand', 'model', 'fuel_type', 'transmission', 'owner_type']
df_encoded = pd.get_dummies(df_model, columns=categorical, drop_first=True)

In [16]:
df.head()

,car_full_data,brand,model,year,fuel_type,transmission,color,owner_type,mileage_kmpl,price_dollars,...,expiry_date,status,sale_price_dollars,sale_date,buyer_name,service_type,service_date,service_cost,service_center,car_age
0,C1000,Tata,Nexon,2013,Hybrid,Automatic,Blue,First,18.97,6.59,...,6/1/2023,Active,31.80,5/27/2023,Buyer_0,Battery Replacement,5/13/2020,14660,AutoCare,12
1,C1001,Maruti,XUV500,2005,Diesel,Automatic,Green,First,19.51,33.01,...,8/30/2023,Expired,2.51,11/13/2022,Buyer_1,Battery Replacement,6/8/2020,19421,Speed Garage,20
2,C1002,Honda,XUV500,2009,Electric,Manual,White,First,15.14,7.11,...,12/25/2023,Active,24.53,11/9/2022,Buyer_2,Oil Change,10/17/2023,5879,Pitstop,16
3,C1003,Maruti,City,2010,Hybrid,Automatic,White,Fourth,18.51,28.47,...,8/21/2023,Expired,39.85,8/5/2023,Buyer_3,Full Service,9/1/2020,16251,Mechanix,15
4,C1004,Tata,Nexon,2018,Petrol,Automatic,Grey,First,10.79,10.16,...,7/15/2023,Expired,32.99,7/26/2022,Buyer_4,Brake Service,1/4/2020,8772,Speed Garage,7

In [17]:
# Normalize numerical features
scaler = StandardScaler()
df_encoded[['mileage_kmpl', 'car_age']] = scaler.fit_transform(df_encoded[['mileage_kmpl', 'car_age']])

In [18]:
# Ready for model training
print(df_encoded.head())

   mileage_kmpl   car_age  sale_price_dollars  brand_Honda  brand_Hyundai  \
0      0.338674  0.254436               31.80        False          False
1      0.463026  1.641461                2.51        False          False
2     -0.543300  0.947948               24.53         True          False
3      0.232745  0.774570               39.85        False          False
4     -1.545020 -0.612455               32.99        False          False

   brand_Kia  brand_Mahindra  brand_Maruti  brand_Renault  brand_Tata  ...  \
0      False           False         False          False        True  ...
1      False           False          True          False       False  ...
2      False           False         False          False       False  ...
3      False           False          True          False       False  ...
4      False           False         False          False        True  ...

   model_Swift  model_XUV500  fuel_type_Diesel  fuel_type_Electric  \
0        False         False             False               False
1        False          True              True               False
2        False          True             False                True
3        False         False             False               False
4        False         False             False               False

   fuel_type_Hybrid  fuel_type_Petrol  transmission_Manual  owner_type_Fourth  \
0              True             False                False              False
1             False             False                False              False
2             False             False                 True              False
3              True             False                False               True
4             False              True                False              False

   owner_type_Second  owner_type_Third
0              False             False
1              False             False
2              False             False
3              False             False
4              False             False

[5 rows x 29 columns]

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [20]:
# Features and target
X = df_encoded.drop('sale_price_dollars', axis=1)
y = df_encoded['sale_price_dollars']
encoder_columns = df_encoded.drop(columns=['sale_price_dollars']).columns.tolist()

In [21]:
# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
# Initialize models
models = {
    'Linear Regression': LinearRegression(),
    'Random Forest': RandomForestRegressor(n_estimators=100, random_state=42),
    'XGBoost': XGBRegressor(n_estimators=100, random_state=42, verbosity=0)
}

In [23]:
# Train and evaluate
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2 = r2_score(y_test, y_pred)
    print(f"{name}:\n  RMSE: {rmse:.2f}\n  R²: {r2:.2f}\n")

Linear Regression:
  RMSE: 13.89
  R²: -0.00

Random Forest:
  RMSE: 14.32
  R²: -0.06

XGBoost:
  RMSE: 14.26
  R²: -0.05

In [27]:
import joblib
joblib.dump(model, 'xgboost_model.pkl')
joblib.dump(scaler, 'scaler.pkl')
joblib.dump(encoder_columns, 'encoder_columns.pkl')  # ✅ Save for use in Streamlit

['encoder_columns.pkl']

In [29]:
joblib.load('xgboost_model.pkl')
joblib.load('scaler.pkl')
joblib.load('encoder_columns.pkl')

['mileage_kmpl',
 'car_age',
 'brand_Honda',
 'brand_Hyundai',
 'brand_Kia',
 'brand_Mahindra',
 'brand_Maruti',
 'brand_Renault',
 'brand_Tata',
 'brand_Toyota',
 'brand_Volkswagen',
 'model_Creta',
 'model_Duster',
 'model_Ecosport',
 'model_Innova',
 'model_Nexon',
 'model_Polo',
 'model_Seltos',
 'model_Swift',
 'model_XUV500',
 'fuel_type_Diesel',
 'fuel_type_Electric',
 'fuel_type_Hybrid',
 'fuel_type_Petrol',
 'transmission_Manual',
 'owner_type_Fourth',
 'owner_type_Second',
 'owner_type_Third']

In [30]:
loaded_model = joblib.load('xgboost_model.pkl')
sample_input = X_test.iloc[0:1]
sample_prediction = loaded_model.predict(sample_input)

print(f"Predicted price: ${sample_prediction[0]:,.2f}")

Predicted price: $25.64